# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style file)

# Exclude git artifacts
.git
.github
.gitignore

# Node.js dependencies
node_modules/

# Environment variables and local dev files
.env
.env.*
.vscode/

# Testing, contracts, and hardhat related files


# Build artifacts
dist/
*.log